# Suicide_Rates_Overview_1985_to_2016

## Contenu
Cet ensemble de données compilé tiré de quatre autres ensembles de données liés par le temps et le lieu, et a été construit pour trouver des signaux corrélés à l'augmentation des taux de suicide parmi différentes cohortes à l'échelle mondiale, à travers le spectre socio-économique.

# 1) importation des librairies

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import plotly as py
import plotly.graph_objs as go
# Chargement de spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

# 2) Lecture brute du fichier

In [24]:
path = "suicide.csv" # le chemin du fichier csv
df = spark.read.format('csv').options(header=True,inferSchema=True).load(path)
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- suicides_no: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- suicides/100k pop: double (nullable = true)
 |-- country-year: string (nullable = true)
 |-- HDI for year: double (nullable = true)
 |--  gdp_for_year ($) : string (nullable = true)
 |-- gdp_per_capita ($): integer (nullable = true)
 |-- generation: string (nullable = true)

In [25]:
# Suppression des colomnes qu'on utilisera pas
df = df.drop("country-year","HDI for year","generation")
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- suicides_no: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- suicides/100k pop: double (nullable = true)
 |--  gdp_for_year ($) : string (nullable = true)
 |-- gdp_per_capita ($): integer (nullable = true)

In [26]:
# Affichage des 10 premières ligne du fichier csv
df.show(10)

+-------+----+------+-----------+-----------+----------+-----------------+------------------+------------------+
|country|year|   sex|        age|suicides_no|population|suicides/100k pop| gdp_for_year ($) |gdp_per_capita ($)|
+-------+----+------+-----------+-----------+----------+-----------------+------------------+------------------+
|Albania|1987|  male|15-24 years|         21|    312900|             6.71|     2,156,624,900|               796|
|Albania|1987|  male|35-54 years|         16|    308000|             5.19|     2,156,624,900|               796|
|Albania|1987|female|15-24 years|         14|    289700|             4.83|     2,156,624,900|               796|
|Albania|1987|  male|  75+ years|          1|     21800|             4.59|     2,156,624,900|               796|
|Albania|1987|  male|25-34 years|          9|    274300|             3.28|     2,156,624,900|               796|
|Albania|1987|female|  75+ years|          1|     35600|             2.81|     2,156,624,900|               796|
|Albania|1987|female|35-54 years|          6|    278800|             2.15|     2,156,624,900|               796|
|Albania|1987|female|25-34 years|          4|    257200|             1.56|     2,156,624,900|               796|
|Albania|1987|  male|55-74 years|          1|    137500|             0.73|     2,156,624,900|               796|
|Albania|1987|female| 5-14 years|          0|    311000|              0.0|     2,156,624,900|               796|
+-------+----+------+-----------+-----------+----------+-----------------+------------------+------------------+
only showing top 10 rows